/school_projects/turing_practice/data

config.py


# # Ignore all files with .log extension
# *.log

# # Ignore all files in a specific directory
# /my_directory/

# # Ignore all .txt files in any directory named "temp"
# temp/**/*.txt

# # Ignore a specific file
# file_to_ignore.txt
